<% unless @conditions == [] %>
  <div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>List of Car Conditions</h1>
  </div>
  <div class="table--wrap">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Condition</th>
          <th scope="col">Starting Price</th>
          <th scope="col">Ending Price</th>
          <th scope="col" colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">  
        <% @conditions.each do |condition| %>
          <tr>
            <td><%= condition.id %></td>
            <td><%= condition.condition %></td>
            <td><%= condition.price_start %></td>
            <td><%= condition.price_end %></td>
            <td><%= link_to "Edit", edit_condition_path(condition.id), class: "btn btn-primary" %></td>
            <td><%= link_to "Destroy", condition_path(condition.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class= "jumbotron text-center">
    <h1>No Car Condition is currently added</h1>
    <p>Add new car condition by clicking the below button, then it will show up in the list</p>
  </div>
<% end %>
<div class="car__details--bottom">
  <div class="car__details--bottom--buttons">
    <%= link_to admin_dashboards_path, class: "btn btn-info" do %>
        <i class="bi bi-caret-left-fill"></i>Back to Home
    <%end%>
    <%= link_to new_condition_path, class: "btn btn-success" do%>
        Add New Condition<i class="bi bi-caret-right-fill"></i>
    <%end%>
  </div>
</div>
