<ul class="notification__content">
    <div class="notification__content--heading">
        <h4>Notifications</h4>
    </div>

    <% @notifications.each do |notification|%>
        <%if notification.action == "booked" %>
            <li>
                <span>
                    <%= current_user.first_name%>, Your appointment for <b><%= notification.car.brand%> <%= notification.car.model%></b> is booked with appointment id  <b><%= notification.appointment_id%></b> on <%= notification.appointment.appointment_date%> Your booking is pending for approval. We will notify you soon once your appointment is approved.
                </span>
                <hr>
            </li>
        <%elsif notification.action == "approved"%>
            <li>
                <span>
                    Your appointment for <%= notification.car.brand%> <%= notification.car.model%> with appointment id  <%= notification.appointment_id%> is now approved. Car's estimated price is:
                    <b>
                        ₹<%= current_condition.price_start%> - ₹<%= current_condition.price_end%>
                    </b>
                </span>
                <hr>
            </li>
        <%elsif notification.action == "rejected"%>
            <li>
                <span>
                    Your appointment for <%= notification.car.brand%> <%= notification.car.model%> with appointment id  <%= notification.appointment_id%> is <b>rejected.</b> Sorry for the inconvinenece.
                </span>
                <hr>
            </li>
        <%elsif notification.action == "status_changed"%>
            <li>
                <span>
                    <%if  notification.appointment.status == 'Sold' %>
                        <%if  notification.user.is_seller%>
                            Congratulations! your <b><%= notification.car.brand%> <%= notification.car.model%></b> has been sold.
                        <%elsif notification.user.is_buyer%>
                            Congratulations! on your new car purchase of <b><%= notification.car.brand%> <%= notification.car.model%>.</b>
                        <%end%>
                        Make sure you check back with us for even better deals on used cars.
                    <%elsif  notification.appointment.status == 'Investigating' %>
                        Your appointment for <b><%= notification.car.brand%> <%= notification.car.model%></b> with appointment id  <%= notification.appointment_id%> is under investigation. We will notify you once the status is further updated.
                    <%elsif  notification.appointment.status == 'Processing' %>
                        Your appointment for <b><%= notification.car.brand%> <%= notification.car.model%></b> with appointment id  <%= notification.appointment_id%> is under process. We will notify you once the status is further updated.
                    <%end%>
                </span>
                <hr>
            </li>
        <%elsif notification.action == "rescheduled"%>
            <li>
                <span>
                    Your appointment for <%= notification.car.brand%> <%= notification.car.model%> with appointment id  <%= notification.appointment_id%> is rescheduled on  <b><%= notification.appointment.appointment_date%></b>
                </span>
                <hr>
            </li>
        <%end%>
    <%end%>
    <%if @notifications.count == 0%>
        <li>
            No notifications yet
        </li>
    <%end%> 
</ul>
