<div class="d-flex flex-column align-items-center justify-content-center mb-2">
  <h1>Edit Appointment</h1>
  <div class="d-flex flex-column align-items-center justify-content-center mb-4">
    <%= form_for @appointment, url:dashboard_appointment_path do |form| %>
      <%= render partial: "shared/error_messages", locals: { var: @appointment } %>
      <%= form.label :reschedule_appointment_date%>
      <%= form.date_field :appointment_date, class: "form-control"%>
      <%= form.label :status%>

      <% if @appointment.user.is_seller%>
            <%= form.select :status, Appointment.statuses.keys[1..4].map{ |key| [key.humanize, key] }, {prompt: @appointment.status}, class: "form-select"%>
        <%elsif @appointment.user.is_buyer%>
          <% if @appointment.status_before_type_cast == 1 %>
            <%= form.select :status, Appointment.statuses.keys[1..2].map{ |key| [key.humanize, key] }, {prompt: @appointment.status}, class: "form-select"%>
          <% elsif @appointment.status_before_type_cast == 2 %>
            <%= form.label :can_be_updated_from_seller_status_for_the_same_car %>
          <%end%>
        <%end%>
      <div class="button__details--bottom">
        <div class="button__details--bottom--buttons">
          <div id="update--btn">
            <%= form.submit "Update", class: "btn btn-success mt-3" do %>
              <i class="bi bi-caret-right-fill"></i>
            <%end%>
          </div>
        </div>
          <div id="get--btn">
            <%= link_to buyers_list_path(@appointment.car_id), class: "btn btn-success mt-3" do %>
              Select Buyer<i class="bi bi-caret-right-fill"></i>
            <%end%>
          </div>
        </div>
      </div>
    <%end%>
  <div class="button__details--bottom">
    <div class="button__details--bottom--buttons">
      <%= link_to dashboard_appointments_path, class: "btn btn-info" do %>
          <i class="bi bi-caret-left-fill"></i>Back
      <%end%>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'form_status' %>
