<% unless @appointments == [] %>
  <div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1>List of Appointments </h1>
    <%= render partial: "filter"%>
  </div>
  <div class="table--wrap">
    <table class="table table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">ID</th>
          <th scope="col">Car ID</th>
          <th scope="col">
            <%= sortable 'User Role', 'is_seller', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'User Name', 'first_name', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'Car Brand', 'brand', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'Car Model', 'model', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'Date Created', 'created_at', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'Appointment Date', 'appointment_date', 'asc', params[:status] %>
          </th>
          <th scope="col">
            <%= sortable 'Status', 'status', 'asc', params[:status] %>
          </th>
          <th scope="col">Approval</th>
          <th scope="col" colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">  
        <% @appointments.each do |app| %>
          <tr>
            <td><%= app.id %></td>
            <td>
              <%= link_to app.car_id, dashboard_appointment_path(app.car_id)%>
            </td>
            <td>
              <% if app.user.is_seller %>
                Seller
              <% elsif app.user.is_buyer %>
                Buyer
              <% end %>
            </td>
            <td>
              <%= link_to "#{app.user.first_name} #{app.user.last_name}", user_details_path(app.user_id)%> 
            </td>
            <td><%= app.car.brand %></td>
            <td><%= app.car.model%></td>
            <td><%= app.created_at %></td>
            <td><%= app.appointment_date %></td>
            <td><%= app.status %></td>
            <td>
                <%if app.is_approved %>
                    Approved
                <%elsif app.status == "Rejected"%>
                    Rejected
                <%else%>
                    Pending
                <%end%>
            </td>
            <td>
              <% unless app.status_before_type_cast == 4 || app.status_before_type_cast == 6%>
                <%= link_to "Edit", edit_dashboard_appointment_path(app.id), class: "btn btn-outline-primary" %>
              <%end%>
            </td>
            <% unless app.is_approved || app.status_before_type_cast == 6%>
              <td>
                  <%= link_to "Approve", approve_path(app.id), method: :patch, remote: true, data: { confirm: "Are you sure? Once the appointment is approved it can't be reverted." }, class: "btn btn-outline-success" %>
              </td>
              <td>
                <%= link_to "Reject", reject_path(app.id), method: :patch, data: { confirm: "Are you sure? Once the appointment is rejected it can't be reverted." }, class: "btn btn-outline-warning" %>
              </td>
              <%end%>
              <td>
              <%= link_to "Destroy", dashboard_appointment_path(app.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class= "jumbotron text-center">
    <h1>No Appointments is currently added</h1>
    <p>Add new Appointments by clicking the below button, then it will show up in the list</p>
  </div>
<% end %>
<div class="button__details--bottom">
  <div class="button__details--bottom--buttons">
    <%= link_to dashboard_path, class: "btn btn-info" do %>
        <i class="bi bi-caret-left-fill"></i>Back to Home
    <%end%>
  </div>
</div>
