<table class="table">
  <thead>
    <tr class="table-dark">
      <th scope="col">Car ID</th>
      <th scope="col">Date Created</th>
      <th scope="col">City</th>
      <th scope="col">Brand</th>
      <th scope="col">Model</th>
      <th scope="col">Year</th>
      <th scope="col">Variant</th>
      <th scope="col">State</th>
      <th scope="col">KMs Driven</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car|%>
      <tr>
        <th scope="row"><%= car.id %></th>
        <td><%= car.created_at %></td>
        <td><%= car.city %></td>
        <td><%= car.brand %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= car.variant%></td>
        <td><%= car.state %></td>
        <td><%= car.km %></td>
        <td>
          <div class="action__button">
              <%= button_to "Edit", admin_update_car_path(car.id), method: :get, class:"btn btn-info" %>
              <%= button_to "Delete", admin_delete_car_path(car.id), class: "btn btn-danger", method: :delete%>
          </div> 
        </td>
      </tr>
    <%end%>
  </tbody>
</table>

