  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">

    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="mb-3">
        <%= link_to admin_dashboard_edit_path(partial: 1), remote: true do%>
          <i class="bi bi-bookmark-check-fill" width="32" height="32"></i>
          <strong>Car Details</strong>
        <%end%> 
      </li>

      <li class="mb-3">
        <%= link_to admin_dashboard_edit_path(partial: 2), remote: true do%>
          <i class="bi bi-bookmark-check-fill" width="32" height="32"></i>
          <strong>Create a new car record</strong>
        <%end%> 
      </li>

      <li class="mb-3">
        <%= link_to admin_dashboard_edit_path(partial: 3), remote: true do%>
          <i class="bi bi-geo-alt-fill" width="32" height="32"></i>
          <strong>Appointments</strong>
        <%end%>
      </li>

      <li class="mb-3">
        <%= link_to admin_dashboard_edit_path(partial: 4), remote: true do%>
          <i class="bi bi-geo-alt-fill" width="32" height="32"></i>
          <strong>Create a new Appointments</strong>
        <%end%>
      </li>
          
      <li class="mb-3">
        <%= link_to admin_dashboard_edit_path(partial: 5), remote: true do%>
          <i class="bi bi-activity" width="32" height="32"></i>
          <strong>Set Car Condition</strong>
        <%end%>
      </li>
          
    </ul>
    <hr>

  </div>