<div class="mb-4">
  <%= form_for @map do |form| %>
    <%= render partial: "shared/error_messages", locals: { var: @map } %>
      <%= form.label :Address%>
      <%= form.text_field :address, class: "form-control mb-3"%>
      <%= form.label :latitude%>
      <%= form.text_field :latitude, class: "form-control mb-3"%>
      <%= form.label :longitude%>
      <%= form.text_field :longitude, class: "form-control mb-3"%>
      <div class="d-flex align-items-center justify-content-center mt-3">
          <%= form.submit message, class: "btn btn-success" do %>
          <i class="bi bi-caret-right-fill"></i>
          <%end%>
      </div>
  <%end%>
</div>
<div class="button__details--bottom">
    <div class="button__details--bottom--buttons">
        <%= link_to maps_table_path, class: "btn btn-info" do %>
            <i class="bi bi-caret-left-fill"></i>Back
        <%end%>
</div>
 