<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome to signup page </h1>
</div>

<%= form_for @user, url: users_path do |form| %>
 <%if @user.errors.any?%>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message|%>
        <div><%=message%></div>
      <%end%>
    </div>
  <%end%>
 <div class="d-flex align-items-center justify-content-center flex-column">
      <div class="d-flex align-items-center mb-3 name">
        <div class="mr-3">
            <%= form.label :Enter_Your_First_Name%>
            <%= form.text_field :first_name,  placeholder: "Balabhadra", class: "form-control"%>
        </div>
        <div class="mr-3">
            <%= form.label :Enter_Your_Last_Name%>
            <%= form.text_field :last_name,  placeholder: "Chand", class: "form-control"%>
        </div>
      </div>
      <div class="mb-3">
        <%= form.label :Enter_Your_Email%>
        <%= form.email_field :email,  placeholder: "xyz@abc.com", class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= form.label :Enter_Your_Mobile_No%>
        <%= form.text_field :mobile_no,  placeholder: "+91", class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= form.label :Enter_Your_Password %>
        <%= form.password_field :password, placeholder: "xyz123", class: "form-control"%>
      </div>
        <div class="mb-3">
        <%= form.label :Please_Renter_Your_Password %>
        <%= form.password_field :password_confirmation,  placeholder: "xyz123", class: "form-control"%>
      </div>
        <div class="mb-3 pr-3">
        <%= form.radio_button :is_seller, "is_seller" %>
        <%= form.label :role_is_seller, "I am a Seller"%>
        <%= form.radio_button :is_buyer, "is_buyer" %>
        <%= form.label :role_is_buyer, "I am a Buyer" %>
      </div>
      <%= form.submit "Create Account", class:"btn btn-primary"%>
    </div>
<% end %>
