<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Edit your Profile details</h1>
</div>

<%= form_for @user, url: user_path do |form| %>
 <%if @user.errors.any?%>
    <div class="alert alert-danger">
      <% @user.errors.each do |attr, message|%>
        <div><%=message%></div>
      <%end%>
    </div>
<%end%>
 <div class="d-flex align-items-center justify-content-center flex-column" id="edit--profile">
      <div class="d-flex align-items-center mb-3 name">
        <div class="mr-3">
            <%= form.label :Your_First_Name%>
            <%= form.text_field :first_name,  placeholder: "Balabhadra", class: "form-control"%>
        </div>
        <div class="mr-3">
            <%= form.label :Your_Last_Name%>
            <%= form.text_field :last_name,  placeholder: "Chand", class: "form-control"%>
        </div>
      </div>
      <div class="mb-3">
        <%= form.label :Your_Email%>
        <%= form.email_field :email,  placeholder: "xyz@abc.com", class: "form-control"%>
      </div>
      <div class="mb-3">
        <%= form.label :Your_Mobile_No%>
        <%= form.text_field :mobile_no,  placeholder: "+91", class: "form-control"%>
      </div>
      <%= form.submit "Update", class:"btn btn-primary"%>
    </div>
<% end %>
