<%= form_with model:@car, url:home_filtered_path, method: :get do |form| %>
        <ul class="filter">
            <li class="filter--section">
                <%= form.collection_select :city, City.all, :name, :name, {prompt: "City", selected: params[:city]}, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :year, Year.all, :name, :name, {prompt: "Year", selected: params[:year]}, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :km, Kilometer.all, :name, :name, { prompt: "Kilometer Range", selected: params[:km] }, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :brand, @brands, :name, :name, { prompt: "Brand", selected: params[:brand] }, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.grouped_collection_select :model, @brands, :models, :name, :name, :name, { prompt: "Model", selected: params[:model] }, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :state, State.all, :name, :name, { prompt: "State", selected: params[:state]}, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :variant, Variant.all, :name, :name, { prompt: "Variant", selected: params[:variant] }, { class: "form-select", onchange: "this.form.submit()"} %>
            </li>
        </ul>
<%end%>

<%= javascript_pack_tag 'form_filter' %>
