<%= form_with model:@car, url:home_filtered_path, method: :get do |form| %>
        <ul class="filter">
            <li class="filter--section">
                 <%= form.collection_select :city, City.all, :name, :name, { prompt: "City" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :year, Year.all, :name, :name, { prompt: "Registration Year" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :km, Kilometer.all, :name, :name, { prompt: "Kilometer Range" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :brand, @brands, :name, :name, { prompt: "Brand" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.grouped_collection_select :model, @brands, :models, :name, :name, :name, { prompt: "Model" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :state, State.all, :name, :name, { prompt: "State" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                <%= form.collection_select :variant, Variant.all, :name, :name, { prompt: "Variant" }, { class: "form-select" } %>
            </li>
            <li class="filter--section">
                 <%= form.submit "Show Cars", class:"btn btn-primary"%>
            </li>
        </ul>
<%end%>

<%= javascript_pack_tag 'form_filter' %>
