<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome to Car Lelo </h1>

 <% if current_user%>
    <%= render partial: "filter" %>
    <%if @cars.count == 0%>
        <div class="d-flex flex-column align-items-center justify-content-center">
            <h3> No matching car is found </h3>
        </div>
    <%else%>
    <div class="car--card">
        <% @cars.each do |car| %>
            <%= link_to car_details_path(car.id) do %>
                <div class="card" style="width: 18rem;">
                    <%= image_tag "carrr.jpg", class:"card-img-top"%>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= car.year %>

                            <%= car.brand%>

                            <%= car.model%>
                        </h5>
                    </div>
                    <ul class="card--body--custom">
                        <li><%= car.state%></li>
                        <li><%= car.city%></li>
                    </ul>
                    <ul class="card--body--custom">
                        <li><%= car.km%></li>
                        <li><%= car.variant%></li>
                    </ul>
                    <%
=begin%>
 <ul class="card--body--custom">
                        <% car.conditions.each do |cond| %>
                            <li class="list-group-item">
                                ₹<%= cond.price_start%> - ₹<%= cond.price_end%>
                            </li>
                        <%end%>
                    </ul> 
<%
=end%>
                </div>
            <%end%>
        <% end %>
        <% end %>
    </div>
</div>
<% else%>
    <%= render partial: "landing" %>
<% end %> 
