<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome to Car Lelo </h1>
    <%= render partial: "search" %>
    <%= render partial: "filter" %>
    <h2 class="mb-3"> Showing results for search "<%= @q %>" </h2>
    <div class="car--card">
      <% @cars.each do |car| %>
            <%
=begin%>
 <% @conditions.each do |cond| %> 
<%
=end%>
                <%= link_to car_details_path(car.id) do %>
                    <div class="card" style="width: 18rem;">
                        <%= image_tag "carrr.jpg", class:"card-img-top"%>
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= car.year %>

                                <%= car.brand%>

                                <%= car.model%>
                            </h5>
                            </h5>
                        </div>
                        <ul class="card--body--custom">
                            <li><%= car.state%></li>
                            <li><%= car.city%></li>
                        </ul>
                        <ul class="card--body--custom">
                            <li><%= car.km%></li>
                            <li><%= car.variant%></li>
                        </ul>
                        <ul class="card--body--custom">
                            <li class="list-group-item">
                                <%
=begin%>
 ₹<%= cond.price_start%> - ₹<%= cond.price_end%> 
<%
=end%>
                            </li>
                        </ul>
                    </div>
                <%
=begin%>
 <%end%> 
<%
=end%>
            <%end%>
      <% end %>
  </div>
</div>
