<div class="d-flex flex-column align-items-center justify-content-center mb-2">
    <h1> CAR DETAILS </h1>
</div>

<div class="table--wrap">
    <table class="table table-striped">
        <thead>
            <tr class="table-dark">
            <th scope="col">Car ID</th>
            <th scope="col">Car Condition</th>
            <th scope="col">City</th>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Year</th>
            <th scope="col">Variant</th>
            <th scope="col">State</th>
            <th scope="col">KMs Driven</th>
            <th scope="col">Price</th>
            <th scope="col"><%if current_user.is_seller%>Status<%end%></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td scope="col"><%=@car.id%></td>
            <td scope="col"><%=@car.condition%></td>
            <td scope="col"><%=@car.city%></td>
            <td scope="col"><%=@car.brand%></td>
            <td scope="col"><%=@car.model%></td>
            <td scope="col"><%=@car.year%></td>
            <td scope="col"><%=@car.variant%></td>
            <td scope="col"><%=@car.state%></td>
            <td scope="col"><%=@car.km%></td>
            <td scope="col">
                ₹<%= current_condition.price_start%> - ₹<%= current_condition.price_end%>
            </td>
            <td scope="col"><%if current_user.is_seller%><%= @appointment.status %><%end%></td>
            </tr>
        </tbody>
    </table>
    <%if current_user.is_buyer == true%>
        <div class="car__details--bottom">
                <%if @apps && @flag == true%>
                    <div class="car__details--bottom--content">
                        <span>
                            You have already booked an appointment for this car.
                        </span>
                        <div class="car__details--bottom--buttons">
                            <%= link_to root_path, class: "btn btn-info" do %>
                                <i class="bi bi-caret-left-fill"></i>Back to Home
                            <%end%>
                            <%= link_to buyer_dashboard_path, class: "btn btn-success" do%>
                                Go to dashboard<i class="bi bi-caret-right-fill"></i>
                            <%end%>
                        </div>
                    </div>
                <%else%>
                    <div class="car__details--bottom--buttons">
                        <%= link_to root_path, class: "btn btn-info" do %>
                            <i class="bi bi-caret-left-fill"></i>Back to Home
                        <%end%>
                        <%= link_to new_car_appointment_path(@car.id), class: "btn btn-success" do%>
                            Book Appointment<i class="bi bi-caret-right-fill"></i>
                        <%end%>
                    </div>
                <%end%>
            </div>
        </div>
    <%elsif current_user.is_seller == true%>
    <div class="car__details--bottom">
        <div class="car__details--bottom--buttons">
            <%= link_to root_path, class: "btn btn-info" do %>
                <i class="bi bi-caret-left-fill"></i>Back to Home
            <%end%>
            <%= link_to new_car_path, class: "btn btn-success" do%>
                Sell your car<i class="bi bi-caret-right-fill"></i>
            <%end%>
        </div>
    </div>
    <%end%>
</div>

