<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome to the Buyer dashboard </h1>
</div>
<div class="dashboard">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" id="sidebar">
    <span class="fs-4">
      Hii <%=current_user.first_name%>&nbsp <%=current_user.last_name%>
    </span>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="mb-3">
        <%= link_to buyer_dashboard_edit_path(partial: 1), remote: true do%>
          <i class="bi bi-bookmark-check-fill" width="32" height="32"></i>
          <strong>My appointments</strong>
        <%end%> 
      </li>
      <li class="mb-3">
        <%= link_to seller_dashboard_edit_path(partial: 2), remote: true do%>
          <i class="bi bi-geo-alt-fill" width="32" height="32"></i>
          <strong>Locate Nearby Branches</strong>
        <%end%>
      </li>
      <li class="mb-3">
        <%= link_to buyer_dashboard_edit_path(partial: 3), remote: true  do%>
          <i class="bi bi-person-circle " width="32" height="32"></i>
          <strong>Profile</strong>
        <%end%>
      </li>
      </ul>
    <hr>

  </div>
  <div id = "partial_content">

  </div>
</div>




