<div class="d-flex flex-column align-items-center justify-content-center">
    <h1> Welcome back <%=current_user.first_name%>&nbsp <%=current_user.last_name%></h1>
</div>
<div class="dashboard">
    <%= render partial: "sidebar" %>
    <div id = "partial_content">
        <%= form_for current_user, url:dashbaord_update_path do |form| %>
            <%if @user.errors.any?%>
                <div class="alert alert-danger">
                    <% @user.errors.full_messages.each do |message|%>
                <div><%=message%></div>
                <%end%>
                </div>
            <%end%>
            <div class="profile--card">
                <%= link_to user_path(@user.id) do%>
                    <i class="bi bi-pencil-square"></i>
                    <strong>Edit profile details</strong>
                <%end%>
                <div class="d-flex align-items-center mb-3 name">
                    <div class="mr-3">
                        <%= form.label :First_Name, class:"fw-bolder"%>
                            <div class="form-control"><%=current_user.first_name%></div>
                    </div>
                    <div class="mr-3">
                        <%= form.label :Last_Name, class:"fw-bolder"%>
                            <div class="form-control"><%=current_user.last_name%></div>
                    </div>
                </div>
                <div class="mb-3">
                    <%= form.label :Email, class:"fw-bolder"%>
                    <div class="form-control"><%=current_user.email%></div>
                </div>
                <div class="mb-3">
                    <%= form.label :Mobile_no, class:"fw-bolder"%>
                    <div class="form-control"><%=current_user.mobile_no%></div>
                </div>
            </div>
        <%end%>
    </div>
</div>
