<div class="sell__car--heading">
    <h1> Welcome to Car Lelo </h1>
    <div class="sell__car--heading--content">
      <h5>Sell From Your Home ||&nbsp</h5>
      <h5> Instant Payment ||&nbsp</h5>
      <h5> Free RC Transfer</h5>
    </div>
</div>


<%= form_for @car, url:cars_path do |form| %>
 <%if @car.errors.any?%>
    <div class="alert alert-danger">
      <% @car.errors.full_messages.each do |message|%>
      <div><%=message%></div>
    <%end%>
    </div>
  <%end%>
 <div class="sell__car--content">
      <div class="mx-3 w-0">
          <%= form.label :Your_City%>
          <%= form.collection_select :city, City.all, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
      </div>    
        <div class="mx-3">
          <%= form.label :brand %>   
          <%= form.collection_select :brand, @brands, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
        </div>
        <div class="mx-3">
          <%= form.label :model %>         
          <%= form.grouped_collection_select :model, @brands, :models, :name, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
        </div>
      <div class="mx-3">
          <%= form.label :Registration_Year%>
          <%= form.select :year, ((Year.last.begin)..(Year.last.end)), { prompt: "Select" }, { class: "form-select" } %>
      </div>
      <div class="mx-3">
          <%= form.label :Variant%>
          <%= form.collection_select :variant, Variant.all, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
      </div>
      <div class="mx-3">
          <%= form.label :State %>
          <%= form.collection_select :state, State.all, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
      </div>
      <div class="mx-3">
          <%= form.label :Kilometer %>
          <%= form.collection_select :km, Kilometer.all, :name, :name, { prompt: "Select" }, { class: "form-select" } %>
      </div>
        <div class="mx-3">
          <%= form.label :condition %>          
          <%= form.collection_select :condition, Condition.all, :condition, :condition, { prompt: "Select" }, { class: "form-select" } %>
        </div>
    </div>
      <div class="d-flex align-items-center justify-content-center mt-3">
        <%= form.submit "Schedule appointment", class:"btn btn-primary"%>
      </div>
    </div>
<% end %>
<div class="car__details--bottom car--new">
    <div class="car__details--bottom--buttons">
        <%= link_to root_path, class: "btn btn-info" do %>
            <i class="bi bi-caret-left-fill"></i>Back to Home
        <%end%>
    </div>
</div>
<script>
  models = $('#car_model').html()
  console.log("model is ",models,"\n")
  var sanu = document.getElementById('car_brand')
  sanu.addEventListener('change', function() {

    brand = $('#car_brand :selected').text()
    console.log("brand is ",brand,"\n")
    options=$(models).filter(`optgroup[label='${brand}']`).html()
    console.log("option is ", options,"\n")
    if (options){
      $('#car_model').html(options)
    }
    else{
      $('#car_model').empty()
    }
  })
</script>
